{
    "server":"127.0.0.1",
    "server_port":8388,
    "local_port":1080,
    "password":"password",
    "timeout":600,
    "method":"aes-256-cfb",
    "local_address":"127.0.0.1",
    "fast_open":false,
    "dns_server":["8.8.8.8", 8.8.4.4],
    "tunnel_remote":"8.8.8.8",
    "tunnel_remote_port":53,
    "tunnel_port":53
}
