Source: python-shadowsocks
Section: python
Priority: extra
Maintainer: Shell.Xu <shell909090@gmail.com>
Build-Depends: debhelper (>= 8), python-setuptools
Standards-Version: 3.9.3
Homepage: https://github.com/clowwindy/shadowsocks
#Vcs-Git: git://git.debian.org/collab-maint/shadowsocks.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/shadowsocks.git;a=summary

Package: python-shadowsocks
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-m2crypto
Description: A fast tunnel proxy that helps you bypass firewalls
 A secure socks5 proxy, designed to protect your Internet traffic.
